<section id="about" class="page">
    <div class="aboutContent container shadow-lg rounded">
        <div data-aos="fade-up" data-aos-offset="10">
            <div class="title">
                <h1>About</h1>
            </div>
            <div class="insideContainer">
                <div class="name">
                    <h2>Kaushal Gabani <span class="typed"></span></h2>
                </div>
                <div class="details">
                    <p>
                        Dedicated developer with a year's experience in <span class="highlight">Java, Angular, and
                            Node.js</span>, committed to clean, scalable code.
                        Passionate about crafting elegant web applications for exceptional user experiences, with strong
                        collaboration
                        and problem-solving skills. Excited to continue growing in web development and contributing to
                        innovative projects.
                    </p>
                </div>
                <div class="contactInfo">
                    <ul class="detailsContainer">
                        <div>
                            <li><a class="lnk" href="https://www.google.com/maps/place/Brampton,+ON" target="_blank"><i class="icon fa-solid fa-location-dot fa-xl"></i> Brampton, Canada</a></li>
                            <li><a class="lnk" href="https://www.sheridancollege.ca/programs/computer-programming#tab=courses" target="_blank"><i class="icon fa-solid fa-book fa-xl"></i> Computer Programming</a></li>
                            <li><a class="lnk" href="https://www.sheridancollege.ca/" target="_blank"><i class="icon fa-solid fa-graduation-cap fa-xl"></i> Sheridan College</a></li>
                        </div>
                        
                        <div>
                            <li><a class="lnk" href="mailto:kaushalgabani21@gmail.com"><i class="icon fa-solid fa-envelope fa-xl"></i> kaushalgabani21@gmail.com</a></li>
                            <li class="lnk"><i class="icon fa-solid fa-phone fa-xl"></i> 647-867-5746</li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</section>