<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#000000">
  <meta name="description" content="Portfolio Website">
  <meta name="description"
    content="Use Developer Portfolio and create your own personalised portfolio today! With multiple themes to choose from, our easily customisable, user friendly website is designed to cater to developers and freelancers alike.">
  <meta property="og:image" content="Developer Portfolio">
  <meta charset="utf-8">
  <meta property="og:site_name" content="Developer Portfolio">
  <meta property="og:title" content="Developer Portfolio">
  <meta property="og:url" content="https://kaushalgabani.github.io/portfolio/">
  <meta property="og:type" content="website">
  <meta property="og:description"
    content="Use Developer Portfolio and create your own personalised portfolio today! With multiple themes to choose from, our easily customisable, user friendly website is designed to cater to developers and freelancers alike.">
  <meta itemprop="name" content="Developer Portfolio">
  <meta itemprop="url" content="https://kaushalgabani.github.io/portfolio/">

  <meta itemprop="description"
    content="Use Developer Portfolio and create your own personalised portfolio today! With multiple themes to choose from, our easily customisable, user friendly website is designed to cater to developers and freelancers alike.">
  <meta itemprop="thumbnailUrl" content="">

  <title>Kaushal Gabani</title>

</head>

<body>
  <div id="root">
    <div class="app">
      <div>
        <div class="navbar">
          <div class="navbar--container">
            <div class="menu-wrap">
              <input type="checkbox" class="toggler">
              <div class="hamburger">
                <div></div>
              </div>
              <div class="menu">
                <div>
                  <div>
                    <ul>
                      <li><a href="#"><i class="fa-solid fa-house fa-sm"
                            style="--fa-primary-color: #000000; --fa-secondary-color: #000000;"></i> Home</a></li>
                      <li><a href="#"><i class="fa-solid fa-user fa-sm"
                            style="--fa-primary-color: #000000; --fa-secondary-color: #000000;"></i> About</a></li>
                      <li><a href="#"><i class="fa-solid fa-screwdriver-wrench fa-sm"
                            style="--fa-primary-color: #000000; --fa-secondary-color: #000000;"></i> Services</a></li>
                      <li><a href="#"><i class="fa-solid fa-tasks fa-sm"
                            style="--fa-primary-color: #000000; --fa-secondary-color: #000000;"></i> Portfolio</a></li>
                      <li><a href="#"><i class="fa-solid fa-envelope fa-sm"
                            style="--fa-primary-color: #000000; --fa-secondary-color: #000000;"></i> Contact</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="landing">
          <div class="landing--container">
            <div class="landing--container-left" style="background-color: rgb(233, 173, 53);">
              <div class="lcl--content">
                <a href="https://www.linkedin.com/in/kaushalgabani/" target="_blank" rel="noreferrer">
                  <i class="landing--social fa-brands fa-linkedin fa-2xl" style="color: #000000;"></i>
                </a>
                <a href="https://github.com/kaushalgabani" target="_blank" rel="noreferrer">
                  <i class="landing--social fa-brands fa-square-github fa-2xl" style="color: #000000;"></i>
                </a>
                <a href="https://twitter.com/kaushalg21" target="_blank" rel="noreferrer">
                  <i class="landing--social fa-brands fa-square-twitter fa-2xl" style="color: #000000;"></i>
                </a>
              </div>
            </div><img src="/assets/images/kaushal.jpg" alt="" class="landing--img"
              style="opacity: 1; border-color: rgb(33, 33, 33);">
            <div class="landing--container-right" style="background-color: rgb(33, 33, 33);">
              <div class="lcr--content" style="color: rgb(234, 234, 234);">
                <h6>Software Developer</h6>
                <h1>Kaushal Gabani</h1>
                <p>Experienced software developer proficient in Java and Angular, with a proven track record of crafting
                  efficient and innovative solutions, driven by a deep curiosity for emerging technologies.</p>
                <div class="lcr-buttonContainer">
                  <a href="https://drive.google.com/file/d/1B3S4sAtRr7YAcHq_3CcPeYZudqv87lrZ/view?usp=drive_link"
                    download="resume" target="_blank" rel="noreferrer">
                    <button class="MuiButtonBase-root MuiButton-root MuiButton-text jss7" tabindex="0" type="button">
                      <span class="MuiButton-label">Resume</span>
                      <span class="MuiTouchRipple-root"></span>
                    </button>
                  </a>
                  <a spy="true" duration="2000" href="/#contacts">
                    <button class="MuiButtonBase-root MuiButton-root MuiButton-text jss8" tabindex="0" type="button">
                      <span class="MuiButton-label">Contact</span>
                      <span class="MuiTouchRipple-root"></span>
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="experience" id="experience" style="background-color: rgb(33, 33, 33);">
          <div class="experience-body">
            <div class="experience-image"><img src="./static/media/expYellow.22be417c.svg" alt=""></div>
            <div class="experience-description">
              <h1 style="color: rgb(233, 173, 53);">Experience</h1>
              <div class="react-reveal experience-card jss12"
                style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-753192354301991-1;">
                <div class="expcard-img" style="background-color: rgb(233, 173, 53);"><img
                    src="./static/media/expImgWhite.0b896d9c.svg" alt=""></div>
                <div class="experience-details">
                  <h6 style="color: rgb(233, 173, 53);">Jan 2021-Aug 2022</h6>
                  <h4 style="color: rgb(234, 234, 234);">Frontend Developer Intern (India)</h4>
                  <h5 style="color: rgba(234, 234, 234, 0.8);">Me Group </h5>
                </div>
              </div>
              <div class="react-reveal experience-card jss12"
                style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-753192354301991-1;">
                <div class="expcard-img" style="background-color: rgb(233, 173, 53);"><img
                    src="./static/media/expImgWhite.0b896d9c.svg" alt=""></div>
                <div class="experience-details">
                  <h6 style="color: rgb(233, 173, 53);">-</h6>
                  <h4 style="color: rgb(234, 234, 234);">Web developer</h4>
                  <h5 style="color: rgba(234, 234, 234, 0.8);">Freelance</h5>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</body>