* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.navbar {
    height: 6.5rem;
    position: absolute;
    background-color: transparent;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 3rem;
    margin-top: 1rem;
}

.navbar--container>h1 {
    font-family: 'BestermindRegular';
    color: var(--primary-2);
    font-size: 2.5rem;
    user-select: none;
}

.navLink--container {
    margin-top: 5rem;
}

.drawer>.MuiBackdrop-root {
    background: rgba(33, 33, 33, 0.15) !important;
    backdrop-filter: blur(20px) !important;
}

/* Burger menu */
.jss1 {
    color: #eaeaea;
    cursor: pointer;
    font-size: 2.5rem;
    transform: translateY(-10px);
    transition: color 0.3s;
}

.jss1:hover {
    color: #000000;
}

@media (max-width:959.95px) {
    .jss1 {
        font-size: 2.5rem;
    }
}

@media (max-width:599.95px) {
    .jss1 {
        font-size: 2rem;
    }
}

.jss2 {
    width: 14em;
    padding: 0em 1.8em;
    overflow: hidden;
    font-size: 24px;
    background: #212121;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

@media (max-width:959.95px) {
    .jss2 {
        width: 12em;
    }
}

.jss3 {
    top: 40px;
    color: #E9AD35;
    right: 40px;
    cursor: pointer;
    position: absolute;
    font-size: 2rem;
    transition: color 0.2s;
    font-weight: bold;
}

.jss3:hover {
    color: #eaeaea;
}

@media (max-width:959.95px) {
    .jss3 {
        top: 20px;
        right: 20px;
    }
}

.jss4 {
    color: #E9AD35;
    width: 85%;
    border: 2px solid;
    height: 60px;
    margin: 2rem auto;
    display: flex;
    padding: 0 30px;
    background: #212121;
    box-sizing: border-box;
    transition: background-color 0.2s, color 0.2s;
    align-items: center;
    border-color: #E9AD35;
    border-radius: 78.8418px;
    justify-content: space-evenly;
}

.jss4:hover {
    color: #212121;
    background: #E9AD35;
}

@media (max-width:959.95px) {
    .jss4 {
        width: 100%;
        height: 55px;
        padding: 0 25px;
    }
}

.jss5 {
    width: 50%;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

@media (max-width:959.95px) {
    .jss5 {
        font-size: 1.125rem;
    }
}

.jss6 {
    font-size: 1.6rem;
}

@media (max-width:959.95px) {
    .jss6 {
        font-size: 1.385rem;
    }
}


.jss7 {
    color: #E9AD35;
    width: 150px;
    border: 3px solid #E9AD35;
    height: 50px;
    font-size: 1rem;
    transition: 100ms ease-out;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 30px;
    text-transform: inherit;
    text-decoration: none;
    background-color: #212121;
  }
  .jss7:hover {
    color: #212121;
    border: 3px solid #eaeaea;
    background-color: #eaeaea;
  }
  @media (max-width:959.95px) {
    .jss7 {
      width: 180px;
    }
  }
  .jss8 {
    color: #212121;
    width: 150px;
    border: 3px solid #E9AD35;
    height: 50px;
    font-size: 1rem;
    transition: 100ms ease-out;
    font-weight: 500;
    border-radius: 30px;
    text-transform: inherit;
    text-decoration: none;
    background-color: #E9AD35;
  }
  .jss8:hover {
    color: #eaeaea;
    border: 3px solid #eaeaea;
    background-color: #212121;
  }
  @media (max-width:959.95px) {
    .jss8 {
      display: none;
    }
  }

/* Main content */
.landing {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing--container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.landing--img {
    --img-size: 400px;
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    width: var(--img-size);
    height: var(--img-size);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
}

.landing--container-left {
    flex: 35%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.lcl--content {
    margin: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing--social {
    font-size: 35px;
    margin: 0 1rem;
    transition: transform 0.5s;
}

.landing--social:hover {
    transform: scale(1.2);
}

.landing--container-right {
    flex: 65%;
    height: 100%;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.lcr--content {
    width: 45%;
    margin-right: 7rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.lcr--content h1 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 110%;
    margin: 1rem 0;
}

.lcr--content p {
    margin-top: 1.45rem;
    font-weight: 530;
    font-size: 1.15rem;
    line-height: 2rem;
    opacity: 0.7;
}

.lcr--content h6 {
    font-weight: 520;
    font-size: 1.5rem;
    margin-bottom: -0.85rem;
    opacity: 0.8;
}

.lcr-buttonContainer {
    margin-top: 2rem;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 1100px) {
    .landing--img {
        --img-size: 350px;
    }

    .lcl--content {
        margin: 2rem;
    }

    .lcr--content h6 {
        font-size: 1.1rem;
    }

    .lcr--content h1 {
        font-size: 3rem;
    }

    .lcr--content p {
        margin-top: 0.3rem;
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 1rem;
    }

    .lcr-buttonContainer {
        margin-top: 1rem;
        flex-direction: column;
        width: 200px;
        height: 120px;
        align-items: flex-start;
    }
}

@media (max-width: 900px) {
    .landing--img {
        --img-size: 300px;
    }

    .landing--social {
        font-size: 30px;
    }

    .lcr--content {
        width: 60%;
        margin-top: 10%;
        margin-right: 6%;
    }

    .lcr-buttonContainer {
        margin-top: 1rem;
        flex-direction: column;
        width: 200px;
        height: 120px;
        align-items: flex-start;
    }

    .lcr-buttonContainer button:nth-child(2) {
        display: none;
    }
}

@media (max-width: 600px) {
    .landing--container {
        flex-direction: column;
        justify-content: space-between;
    }

    .landing--img {
        --img-size: 200px;
        left: 50%;
        top: 30%;
        border: 8px solid #eaeaea;
        transform: translate(-50%, -50%);
    }

    .landing--container-left {
        flex: initial;
        width: 100%;
        height: 30%;
    }

    .landing--social {
        display: none;
    }

    .landing--container-right {
        box-sizing: border-box;
        padding: 0 2rem;
        flex: initial;
        height: 70%;
        width: 100%;
        background-color: #eaeaea;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
    }

    .lcr--content {
        margin-top: 20%;
        margin-right: initial;
        width: 100%;
    }

    .lcr--content h6 {
        font-size: 1rem;
        text-align: center;
    }

    .lcr--content h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .lcr--content p {
        font-size: 0.95rem;
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }

    .lcr-buttonContainer {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lcr-buttonContainer button {
        margin-top: -20%;
    }
}

@media (max-width: 500px) {
    .lcr--content {
        margin-top: 35%;
    }
}

@media (max-width: 370px) {
    .lcr--content {
        margin-top: 60%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    .landing {
        height: 100%;
    }

    .landing--img {
        --img-size: 150px;
        left: 50%;
        top: 20%;
    }
}


/* Media */
@media (max-width:1100px) {
    .navbar--container {
        padding: 0 2rem;
    }

    .navbar--container>h1 {
        font-size: 2.2rem;
    }

    .nav-menu {
        font-size: 2.2rem;
        margin-top: -1.5rem;
    }
}

@media (max-width:800px) {
    .navLink--container {
        margin-top: 3rem;
    }
}


@media (max-width:600px) {
    .nav-menu {
        color: var(--primary-2);
    }

    .navbar--container>h1 {
        font-size: 2rem;
    }

    .nav-menu:hover {
        color: var(--primary-2);
    }

    .MuiDrawer-paper {
        border-radius: 0 !important;
    }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    .navbar {
        height: 5rem;
    }

    .navbar--container {
        padding: 0 1rem;
        margin-top: 0rem;
    }

    .navbar--container>h1 {
        font-size: 1.5rem;
    }
}