<section id="landing" class="landing page">
    <div class="landingContainer">
      <div class="landingContainerLeft">
        <div class="contentLeft">
          <a href="https://www.linkedin.com/in/kaushalgabani/" target="_blank" rel="noreferrer">
            <i class="icon fa-brands fa-linkedin fa-2xl" style="color: #000000;"></i>
          </a>
          <a href="https://github.com/kaushalgabani" target="_blank" rel="noreferrer">
            <i class="icon fa-brands fa-square-github fa-2xl" style="color: #000000;"></i>
          </a>
          <a href="https://twitter.com/kaushalg21" target="_blank" rel="noreferrer">
            <i class="icon fa-brands fa-square-twitter fa-2xl" style="color: #000000;"></i>
          </a>
        </div>
      </div>
      <img src="assets/images/kaushal.jpg" alt="" class="landingImg">
      <div class="landingContainerRight">
        <div class="contentRight">
          <h6>Software Developer</h6>
          <h1>Kaushal Gabani</h1>
          <p>Experienced software developer proficient in Java and Angular, with a proven track record of crafting
            efficient and innovative solutions, driven by a deep curiosity for emerging technologies.</p>
          <div class="buttonContainer">
            <!-- <a href="https://drive.google.com/file/d/1B3S4sAtRr7YAcHq_3CcPeYZudqv87lrZ/view?usp=drive_link" download="resume" target="_blank" rel="noreferrer"> -->
            <a href="assets/resume/resume.pdf" download="resume" target="_blank" rel="noreferrer">
              <button class="MuiButtonBase-root MuiButton-root MuiButton-text btnResume" tabindex="0" type="button">
                <span class="MuiButton-label">Resume</span>
                <span class="MuiTouchRipple-root"></span>
              </button>
            </a>
            <!-- <a spy="true" duration="2000" href="/#contacts">
              <button class="MuiButtonBase-root MuiButton-root MuiButton-text btnContact" tabindex="0" type="button">
                <span class="MuiButton-label">Contact</span>
                <span class="MuiTouchRipple-root"></span>
              </button>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </section>